body{
    display:flex;
    flex-direction:column;
    align-items:center;

    gap:10px;

    margin-top:50px;
}

input{
    padding:10px;
}

button{
    padding:10px;
    cursor:pointer;
}

#res{
    font-size:20px;
    font-weight:bold;
}